<!DOCTYPE html>
<html lang="en">
<!-- "huinveruifjmsadopwd" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-dimensional Volume Incremental Rewritten</title>
    <link href="./assets/style/core.css" rel="stylesheet">

    
    <script src="./assets/script/loader.js" defer></script>
    <script src="./assets/script/technical/vue.min.js" defer></script>
    <script src="./assets/script/technical/PowiainaNum.js" defer></script>
    <script src="./assets/script/technical/format_powiainanum.js" defer></script>
    <script>/*
        function format(x){
            return x.toString()
        }
        function formatWhole(x){
            return x.toString()
        }*/
        </script>
    <script src="./assets/script/technical/hotkeys.js" defer></script>
    <script src="./assets/script/formatTime.js" defer></script>
    <script src="./assets/script/display.js" defer></script>
    <script src="./assets/script/constants.js" defer></script>
    <script src="./assets/script/temp.js" defer></script>
    <script src="./assets/script/script.js" defer></script>
    <script src="./assets/script/newsticker.js" defer></script>
    <script src="./assets/script/save.js" defer></script>
    <script src="./assets/script/components.js" defer></script>
    <script src="./assets/script/changelog.js" defer></script>
    <script src="./assets/script/offline.js" defer></script>
    <script src="./assets/script/dimboost.js" defer></script>
    <script src="./assets/script/hotkeys.js" defer></script>

    <script src="./assets/script/mm3.js" defer></script>
    <script src="./assets/script/automation.js" defer></script>

    <script src="./assets/script/PL2/mm5.js" defer></script>
    <script src="./assets/script/battle/battle.js" defer></script>

</head>

<body>
    <div id="app">
        <div>
            <newsticker></newsticker>
            <div class="text-center">
                你有 <span class="vol-dis">{{formatWhole(player.volumes)}}</span> mm<sup>4</sup> 4维体积
            </div>
            <div v-if="player.timeSpeed != 1" class="text-center">当前全局游戏速度: ×{{format(player.timeSpeed)}}</div>
            <div v-if="player.volumes.gte('1e200') && !player.isPL1unlocked" class="text-center">你需要???才能走得更远！

            </div>
            <div class="text-center"></div>
            <div v-if="player.volumes.gte(mm3ChallengeGoal[player.PL1inchal]) && !player.PL1breakedPL1limit" class="text-center">
                <button class="btn mm3btn" @click="doMM3resetManmade()">重置1-8维度，4维体积，维度提升，获得{{format(tmp.mm3.gain)}} mm<sup>3</sup> 3维体积</button>
            </div>
            <div v-if="player.isPL1unlocked" class="mm3text text-center">你有{{format(player.PL1points)}} mm<sup>3</sup> 3维体积</div>
            <div v-if="player.isPL2unlocked" class="mm5text text-center">你有{{format(player.PL2points)}} mm<sup>5</sup> 5维体积</div>
            <div v-if="showAllPrestigeLayers">
                <div class="mm6text text-center">你有0.00 mm<sup>6</sup> 6维体积</div>
                <div class="mm7text text-center">你有0.00 mm<sup>7</sup> 7维体积</div>
                <div class="mm8text text-center">你有0.00 mm<sup>8</sup> 8维体积</div>
                <div class="mm9text text-center">你有0.00 mm<sup>9</sup> 9维体积</div>
                <div class="mm10text text-center">你有0.00 mm<sup>10</sup> 10维体积</div>
                
            </div>
            <div v-if="isEndgame()" :style="{color: getUndulatingColor()}" class="text-center">已达到当前版本终点！</div>
        </div>
        <div class="main-line"></div>
        <div class="text-center">
            <button v-for="tab in primaryTabSort()" :class="getTabClass(tab.name)" :style="tab.style" v-html="tab.text"
                :disabled="tabShow.inPrimaryTab(tab.name)" @click="player.currentPage = tab.id">

            </button>
        </div>
        <div class="main-line"></div>
        <div class="text-center">
            <button v-for="tab in secondaryTabSort()" :class="getSubTabClass(tab.parentTab,tab.name)" :style="tab.style"
                v-html="tab.text" :disabled="tabShow.inSecondaryTab(tab.parentTab,tab.name)"
                @click="player.currentPage = tab.id">

            </button>
        </div>
        <div class="main-line"></div>
        <!-- <div v-if="player.currentPage == 14112">
            <div class="text-center" v-for="const enemy in enemies" v-if="enemy.unlocked">
                hp: {{format(enemy.hp)}}<br>
                atk: {{format(enemy.atk)}}<br>
                def: {{format(enemy.def)}}<br>
                aps: {{format(enemy.aps)}}<br>
            </div>
        </div> -->
        <div v-if="player.currentPage == 13">
            <div class="text-center">
                <div class="battle">
                    <div class="battle-playerenemy-description">
                        hp: {{format(player.currentHP)}}/{{format(getCurrentHPCap())}}<br>
                        mp: {{format(player.currentMP)}}<br>
                        atk: {{format(player.currentATK)}}<br>
                        def: {{format(player.currentDEF)}}<br>
                        {{format(player.currentAPS)}} <abbr title="attack per second">aps</abbr><br>
                        <br>
                        XP: {{format(player.XP)}}
                    </div>
                    <div class="battle-playerenemy-description" v-if="player.currentBattlingEnemyId == -1">
                        hp: 0<br>
                        atk: 0<br>
                        def: 0<br>
                        0 <abbr title="attack per second">aps</abbr><br>
                    </div>
                    <div class="battle-playerenemy-description" v-else>
                        hp: {{format(enemies[player.currentBattlingEnemyId].hp.sub(player.enemyHPspent))}}<br>
                        atk: {{format(enemies[player.currentBattlingEnemyId].atk)}}<br>
                        def: {{format(enemies[player.currentBattlingEnemyId].def)}}<br>
                        {{format(enemies[player.currentBattlingEnemyId].aps)}} aps<br>
                    </div>
                </div>
                <br>
                填充4维体积，提高生命值上限(+{{format(tmp.battle.feature1Effect)}}/100000)<br>
                当前: {{format(player.fillFeatureProgress1)}}/1e100000<br>
                <div class="fill-button" @click="fillForFeature(1)">填充<br>当前{{isFilling(1)?"正在":"不正在"}}填充</div>

                
                <br>
                技能:<br>
                攻击: 使对方的生命值减少atk<br>
                恢复：每秒生命×1.05（战斗时无效）
                <br>
                <br>
                升级<br>
                <table class="text-center">
                    <tr>
                        <td>
                            <button class="mm5upg" :class="{unlocked: hasBattleUpgrade(1)}"@click="buyBattleUpgrade(1)">基于经验提升小朋友上限和小朋友获取<br>当前: ×{{format(getBattleUpgradeEffect(1))}}<br>需要20经验</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-if="player.currentPage == 14" class="text-center">
            <div v-for="enemy in enemies" v-if="enemy.unlocked" :key="enemy.id" class="battle-enemychoose-description">
                {{enemy.id}}<br>
                hp: {{format(enemy.hp)}}<br>
                atk: {{format(enemy.atk)}}<br>
                def: {{format(enemy.def)}}<br>
                aps: {{format(enemy.aps)}}<br>   
                获得的经验: {{format(enemy.expGain)}}<br>
                <br>
                <span v-html="enemy.pentalyWhenInBattle()"></span><br>   
                <span v-html="enemy.pentalyWhenFailed()"></span><br>   
                <button @click="battleEnemy(enemy.id)" class="btn">战斗</button>

            </div>
        </div>
        <div v-if="player.currentPage == 12">
            <!-- <table>
                <tr>
                    <td><button class="mm5upg" :class="{unlocked: hasMM5Upg(1)}" @click="buyMM5Upg(1)"><br>花费：1 mm<sup>5</sup></button></td>
                </tr>
            </table>-->
            <p class="text-center">mm<sup>5</sup>重置次数: {{format(player.PL2times)}}</p>
            <div class="milestone">
                <div class="milestone-goal">1 mm<sup>5</sup>重置次数</div>
                <div class="milestone-description">获得3.205倍多的小朋友，减少解锁小朋友所需要的3维体积，增加4维体积获取软上限</div>
            </div>
            <div class="milestone">
                <div class="milestone-goal">2 mm<sup>5</sup>重置次数</div>
                <div class="milestone-description">移除4维体积获取软上限，保留3D升级1,4,6,9,13,14，保留挑战1,2完成状态，获得1000倍多的3维体积</div>
            </div>
            <div class="milestone">
                <div class="milestone-goal">3 mm<sup>5</sup>重置次数</div>
                <div class="milestone-description">每秒自动获得^0.5将要获得的3维体积</div>
            </div>
            <div class="milestone">
                <div class="milestone-goal">4 mm<sup>5</sup>重置次数</div>
                <div class="milestone-description">解锁战斗场</div>
            </div>
            <div class="milestone">
                <div class="milestone-goal">6 mm<sup>5</sup>重置次数</div>
                <div class="milestone-description">保留所有3D升级，直接解锁小朋友，重置时保留^0.5小朋友，保留维度提升^2</div>
            </div>
            <div class="milestone">
                <div class="milestone-goal">10 mm<sup>5</sup>重置次数，获得超过19200mm<sup>5</sup></div>
                <div class="milestone-description" title="风灵作成: ？">解锁次数商店</div>
            </div>
            
        </div>

        <div v-if="player.currentPage == 10">
            <div class="text-center" v-if="!player.PL1xiaopengyouUnl"><button class="btn mm3btn" @click="unlockXiaopengyou()">
                解锁小朋友<br>
                需要{{player.PL2times.gte(1) ? "1,000" : "1,000,000"}} mm<sup>3</sup>
            </button></div>
            <div v-else>
                <div class="text-center">
                    <p>你有<span class="mm3text">{{format(player.PL1xiaopengyouPoints)}}(+{{format(getXiaopengyouGain())}}/s)</span>小朋友，他们使每次购买的乘数×{{format(xiaopengyouEffect1())}}</p>
                    <p>已解锁一个新的购买项在"升级"选项卡</p>
                </div>
                <p class="mm3text text-center">
                    在1000小朋友，基于小朋友数量获得额外的维度提升<br>
                    当前：+{{format(xiaopengyouEffect2())}}
                </p>
            </div>
        </div>
        <div v-if="player.currentPage == 7 && hasMM3Upg(4)">
            <p class="text-center">下列是挑战，在进入挑战时会进行一次无奖励的重置，<br>如果在这个挑战里达到了目标，则为通过这个挑战。</p>
            <p class="text-center"><button class="btn mm3btn" @click="exitChal()">退出挑战</button></p>
            <table>
                <tr>
                    <td><button class="chalpl0" @click="enterNorChal(1)" :class="getChalClass(1)">挑战1<br>1-8维度的增长速度为原来的^2<br>目标: 1.000e200 mm<sup>4</sup><br>奖励：获得×1.02多的购买次数</button></td>
                    <td><button class="chalpl1" @click="enterNorChal(2)" :class="getChalClass(2)" v-if="hasMM3Upg(14)">挑战2<br>维度提升实际数量为原来的0.1倍<br>目标: 1.000e700 mm<sup>4</sup><br>奖励：小朋友再次提升维度提升实际数量</button></td>
                    
                </tr>
            </table>
        </div>
        <div v-if="player.currentPage == 9" class="text-center">
            <button class="btn mm3btn" @click="doMM3resetManmade()">重置1-8维度，4维体积，维度提升，获得{{format(tmp.mm3.gain)}} mm<sup>3</sup> 3维体积<br>需要 1.000e200 mm<sup>4</sup></button>
            <button class="btn mm5btn" @click="doMM5resetManmade()" v-if="hasMM3Upg(20)">重置4维和3维的所有资源和升级，获得{{format(tmp.mm5.gain)}} mm<sup>5</sup> 5维体积<br>需要 1.000e50000 mm<sup>4</sup></button>
            
        </div>
        <div v-if="player.currentPage == 8" class="text-center">
            <div v-html="getAutomationTabDetail()"></div>
            <button class="btn" v-if="hasMM3Upg(7)" @click="toggleAutobuyer(10)">
                自动mm<sup>3</sup>重置: {{player.auto.includes(10) ? "开" :
                "关"}}
            </button>
        </div>
        <div v-if="player.currentPage == 6" class="text-center">
            <table>
                <tr>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(1)}" @click="buyMM3Upg(1)">基于重置数量提升1-8维度，维度提升价格/1.000e10<br>花费：1 mm<sup>3</sup></button></td>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(2)}" @click="buyMM3Upg(2)">解锁自动<br>花费：1 mm<sup>3</sup></button></td>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(3)}" @click="buyMM3Upg(3)">解锁自动维度提升<br>花费：3 mm<sup>3</sup></button></td>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(4)}" @click="buyMM3Upg(4)">解锁挑战<br>花费：10 mm<sup>3</sup></button></td>
                </tr>
                <tr>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(5)}" @click="buyMM3Upg(5)">你可以最大化维度提升<br>花费：15 mm<sup>3</sup></button></td>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(6)}" @click="buyMM3Upg(6)">每次重置开始于10维度提升<br>花费：25 mm<sup>3</sup></button></td>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(7)}" @click="buyMM3Upg(7)">每次重置开始于35维度提升，解锁自动mm<sup>3</sup>重置<br>花费：40 mm<sup>3</sup></button></td>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(8)}" @click="buyMM3Upg(8)">解锁一个双倍mm<sup>3</sup>获取的可购买<br>花费：60 mm<sup>3</sup></button></td>
                </tr>
                <tr>
                    <td><button class="mm3upg" :class="{unlocked: hasMM3Upg(9)}" @click="buyMM3Upg(9)">维度提升不重置任何东西<br>花费：95 mm<sup>3</sup></button></td>
               </tr>
                <tr v-if="player.PL1xiaopengyouUnl">
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(13)}" @click="buyMM3Upg(13)">在"维度提升"页面解锁"维度提升^2"<br>花费：2,000 小朋友</button>
                    </td>
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(14)}" @click="buyMM3Upg(14)">解锁挑战2<br>花费：10,000 小朋友</button>
                    </td>
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(15)}" @click="buyMM3Upg(15)">基于小朋友数量提升小朋友获取<br>花费：50,000 小朋友</button>
                    </td>
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(16)}" @click="buyMM3Upg(16)">基于小朋友数量减少维度提升的价格<br>花费：300,000 小朋友</button>
                    </td>
                </tr>
                <tr v-if="hasMM3Upg(16)">
                    
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(17)}" @click="buyMM3Upg(17)">小朋友加成维度提升23的效果<br>花费：700,000 小朋友</button>
                    </td>
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(18)}" @click="buyMM3Upg(18)">基于4维体积加成小朋友获取<br>花费：1.000e6 小朋友</button>
                    </td>
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(19)}" @click="buyMM3Upg(19)">基于3维体积加成小朋友获取<br>花费：2.000e6 小朋友</button>
                    </td>
                    <td>
                        <button class="mm3upg" :class="{unlocked: hasMM3Upg(20)}" @click="buyMM3Upg(20)">解锁下一个声望层<br>花费：7.000e9 小朋友</button>
                    </td>
                </tr>
                <tr>
                    <td><button class="mm3upg" style="border: var(--color-text-invert)"></button></td>
                </tr>
                <tr>
                    <td><button class="mm3upg" style="border: var(--color-text-invert)"></button></td>
                    <td v-if="hasMM3Upg(8)"><button class="mm3upg" @click="buyBuyable(1)">双倍mm<sup>3</sup>获取({{ formatWhole(player.PL1buyable1) }})<br>花费：{{format(getBuyableCost(1))}} mm<sup>3</sup><br>效果: ×{{format(getBuyableEffect(1))}}</button></td>
                    <td v-else><button class="mm3upg" style="border: var(--color-text-invert)"></button></td>
                    <td v-if="player.PL1xiaopengyouUnl"><button class="mm3upg" @click="buyBuyable(2)">
                        双倍小朋友获取({{ formatWhole(player.PL1buyable2) }})<br>花费：{{format(getBuyableCost(2))}} 小朋友<br>效果: ×{{format(getBuyableEffect(2))}}</button>
                    </td>
                    <td v-else><button class="mm3upg" style="border: var(--color-text-invert)"></button></td>

                    
                    <td><button class="mm3upg" style="border: var(--color-text-invert)"></button></td>
                </tr>
            </table>

        </div>
        <div v-if="player.currentPage == 1" class="text-center">
            <button class="btn" @click="buyall()" @touchstart="isHoldMax = true;" @touchend="isHoldMax = false;"
                v-on:mousedown="isHoldMax = true;" v-on:mouseup.native="isHoldMax = false;">
                购买最大
            </button>
            <br>
            <p>每次购买乘数: {{format(tmp.dimension.getBoughtMultiplier())}}</p>
            <div v-for="dim in dimensions" :key="dim.id" class="text-center">
                {{ dimensionsLabel(dim.id) }}
                +<span>{{
                    format(player.dimensions[DIMENSIONS_POINTS][dim.id
                    - 1]) }}
                </span>
                x<span>{{
                    format(player.dimensions[DIMENSIONS_MULTI][dim.id
                    - 1]) }}
                </span>
                ^<span>{{
                    format(player.dimensions[DIMENSIONS_EXPONENT][dim.id
                    - 1]) }}
                </span>
                <span>{{
                    format(player.dimensions[DIMENSIONS_BOUGHT][dim.id
                    - 1]) }}
                </span>
                <button class="btn" :disabled="!buyable(dim.id)" @click="buydim(dim.id)" v-html="display4DDimCost(dim.id)">价格:
                    {{format(player.dimensions[DIMENSIONS_COST][dim.id - 1 ])}} mm<sup>4</sup>
                </button>
                <!-- <button class="btn" :disabled="!buyable(dim.id)" @click="buydim(dim.id)">
                        Cost: <span v-html="format(player.dimensions[DIMENSIONS_COST][dim.id
                            - 1])"></span>
                    </button>-->
                    <button class="btn" v-if="hasMM3Upg(2)" @click="toggleAutobuyer(dim.id)">
                        自动: {{player.auto.includes(dim.id) ? "开" :
                        "关"}}
                    </button>
            </div>
            <!-- <div v-if="hasMM3Upg(20)" v-for="dimid in A9to16" class="text-center">
                {{ dimensionsLabel(dimid) }} +0.0000 x0.0000 ^0.0000 0.0000
                <button class="btn" disabled>价格: 1.0000e500 mm<sup>3</sup></button>
            </div> -->
            <div style="color: red" v-if="tmp.mm4.softcapped1">
                After <b v-html="format(tmp.mm4.softcap1start)"></b>
                of 4D volumes gain, 4D volumes gain will be softcapped!(软上限限时回归!!!)
            </div>
        </div>

        <div v-if="player.currentPage == 2" class="text-center">
            <button class="btn" @click="formattedHardReset">硬重置</button>
            <button class="btn" @click="exportCopy">导出</button>
            <button class="btn" @click="exportFile">导出为文件</button>
            <!-- <button class="btn" @click="importSave">导入</button> -->
            <button class="btn" @click="importFile">以文件导入</button>
        </div>
        <div v-if="player.currentPage == 3" class="text-center">
            <div>
                <p v-html="formatEndgame()"></p>
                <p v-html="formatHardcap()"></p>
                <br>
                作者:VeryrrDefine<br>
                当前版本： {{changelog[0].version}}<br>
                使用<a href="https://github.com/VeryrrDefine/PowiainaNum.js" target="_blank">PowiainaNum.js</a>处理大数字<br>
                <hr>
                <h1>---更新日志---</h1>
                <changelog></changelog>
            </div>
        </div>
        <div v-if="player.currentPage == 4" class="text-center">
            <div>
                <p>维度提升({{format(player.dimBoost)}},{{format(getRealDimBoost())}})</p>
                <button class="btn" @click="dimBoost" v-html="dimBoostDescription()"></button><br>
                <button class="btn" v-if="hasMM3Upg(3)" @click="toggleAutobuyer(9)">
                    自动: {{player.auto.includes(9) ? "开" :
                    "关"}}
                </button>
            </div>
            <div v-if="hasMM3Upg(13)">
                <p>维度提升^2({{format(player.dimBoost2)}})</p>
                <button class="btn" @click="dimBoost2" v-html="dimBoost2Description()">
                </button>
            </div>
            <div v-html="statBoosts()"></div>

        </div>
        <div v-if="player.currentPage == 5" class="text-center">
            <p style="color: #aaa">你离线了{{formatTime.fromSeconds(player.offlinedTime)}}</p>
            <p>拉动下面的进度条可以改变游戏速度，但需要消耗离线时间</p>
            <p><button class="btn" @click="switchGameState">切换游戏状态<br>当前：{{player.isOffline ? "停止" : "未停止"}}</button>
            </p>
            <input type="range" min="0" max="7" step="0.001" style="width: 300px"
                v-model.number="player.offlinePower"><br>

        </div>
        <div v-if="player.currentPage == 11870903" class="text-center">
            <br>
            <br>
            <button style="
            background: #eeeeee;
            animation: a-tesseract-shift-dark 5s infinite;
            max-width: 150px;
            color: #000;
            cursor: pointer;
            ">You have enough Infinity Points to buy a Tesseract</button><br><br><br>
            <div  style="
            animation: bigcrunch 2s infinite;">啊，我被大嘎吱嘎吱了，功力只剩一成</div>
            
            <hr>
            <p>支持所有序数增量吧吧友，点击下面玩吧友们制作的游戏</p>
            <a href="https://seanxlx2011.github.io/" target="_blank">数据增量重置版</a>,<br>
            <a href="https://0i00000000a7.github.io/points-incremental-rewritten/" target="_blank">点数增量重置版</a>,<br>
            <a href="https://aster131072.github.io/incremental_evolution/" target="_blank">增量进化</a>,<br>
            <a href="https://dlsdl.github.io/wind_spirit_creation/" target="_blank">风灵作成</a>,<br>
            <a href="https://qqqe308.github.io/The-Rhythm-Game-Tree/" target="_blank">音乐游戏树</a>,<br>
            <a href="https://a262537412640768744.github.io/homework-incremental/main.html" target="_blank">作业增量</a>,<br>
            <a href="https://goldenapple125.github.io/RBN/" target="_blank">大数之路</a>,<br>
            <a href="https://qqqe308.github.io/Anti-Anti-Softcap-Tree/111/" target="_blank">反-反软上限树</a>,<br>
            <br>
            <p>你也可以玩其他的增量游戏！</p>
            <a href="https://ivark.github.io/AntimatterDimensions" target="_blank">反物质维度</a>,<br />
            <a href="https://seanxlx2011.github.io/" target="_blank"><del>无限维度重置版</del></a>,<br />
            <a href="https://jacorb90.github.io/Prestige-Tree/" target="_blank">声望树</a>,<br />
            <a href="https://patcailmemer.github.io/Ordinal-Markup" target="_blank">序数增量</a>
        </div>
        <div v-if="player.currentPage == 11" class="text-center">
            20XX年，世界末日到来，<br>
            邪恶博士XXX(代号:1187)宣称自己掌握了可以毁灭宇宙的技术，同时也放出了<br>
            一张被挑战书，被挑战书（破损）的内容如下：<br>
            <div style="width: 500px; height: 707.1067811865476px; border: #fff solid 2px; margin: auto;">
                <h1 style="font-size: 1cm">被挑战书</h1>
                <p style="text-indent: 2em; text-align: left;">
                    我乃<br><br><br><br>若你欲成挑战者，请联系130(/lɪŋ/)<br><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;不要贸然挑战我，否则后果自负<br><br><br><br>
                </p>
                <p style="text-align: right;">XXX&nbsp;<br>20XX年3月1日</p>
            </div>
            在被挑战书放出后几年，1187组织有一人叛变，向【数据删除】报告了被挑战书的完整内容，<br>也报告了挑战地方的位置。<br>
            在进入了挑战位置后，在挑战房间角落找到了一张"前人"留下的纸条：<div class="backgroundsettingnote" @click="enterFinalChallenge()">
                不仅只有这一个房间，&nbsp;&nbsp;还有无数个&nbsp;&nbsp;房间...<br><br>
                还有最终挑&nbsp;&nbsp;战...&nbsp;&nbsp;...&nbsp;&nbsp;...&nbsp;&nbsp;...&nbsp;&nbsp;...

            </div><br>
        </div>
        <div v-if="player.currentPage == 11870502" class="text-center">
            <p>当你第一次达到break-eternity极限时，会发生某些意想不到的事...</p>
            <p>你最高的mm<sup>4</sup>为114514mm<sup>4</sup></p>
            计划目标<br>
            mm3before: 0<br>
            mm3: e200<br>
            mm5: e100000<br>
            mm6: e1e11<br>
            mm7: e1.7e723<br>
            mm8: ee9.25e9<br>
            mm9: ee1e8000<br>
            mm10: 1f7<br>
            mm11: f1.797e308<br>
        </div>
        <div v-if="player.currentPage == 9006">
第一章 反问题尺寸<br>
一觉醒来，我发现自己变成了10个反问题，只好最大购买量以购买第一尺寸，接着，我循环进行最大购买量，同时购买嘀嗒速度，最后我得到了方面促进，进入第五尺寸<br>
我不断进行方面促进，最后进入了第八尺寸，并进行尺寸牺牲。接着，我得到了自动售卖机购买维度和反问题银河系。<br>
最后，我以两个反问题银河系进行了大嘎吱嘎吱，得到了1无穷远点<br>
<br>
第二章 大嘎吱<br>
在获得1无穷远点后，我首当其冲地购买了无穷提升11，并进入盘问8，这使我获得无穷远点的效率大大提升。在得到无穷提升24后，我退出了盘问8。接着，我不断刷取无穷远点，并分别完成了盘问11, 盘问10, 盘问12，得到了自动售卖机大嘎吱嘎吱，并将其提升至0.1第二，堕了无穷<br>
堕完无穷后，我完成了其它盘问，接着旋转了桌子，并购买了一些堕无穷提升。很快，我得到了1e8无穷远点，购买了第一无穷提升。这使我刷取无穷远点的速度得到了大幅提升。最后，我购买了5e11的堕无穷提升，停止了刷无穷远点的旅程。并开始完成无穷大盘问。最后，我得到了1e140无穷远点，解锁了复制人<br>
解锁复制人后，我的无穷尺寸得到了增强，这使我获取无穷远点的速度得到了更大的提升。接着，我得到了复制人银河系，这无疑再次提升了我们的无穷远点。最后，我通过1.8e308无穷远点进入了永远。<br>
<br>
第三章 永远<br>
进入永远后我得到了1永远指画，买了光阴维度，它给了我一些自由的嘀嗒速度。我还得到了永远成就。随着进度的恢复，我还购买了一些光阴法则，并用其购买了光阴学习树树。<br>
随着我不断的进入永远，我的永远指画和光阴法则随之越来越多，我还购买了一些永远提升。<br>
然后，我拥有了130光阴法则，进入并完成了永远盘问1×1。随后，我大量的进行永远盘问。最终，我得到了光阴学习181。得到光阴学习181后，我继续进行永远盘问，彻底完成了永远盘问1, 2, 3, 4, 5, 6, 8, 9。最后，我完成了永远盘问10x1，进入了光暗之树。完成了永远盘问10x1之后，我继续刷取光阴法则，最后我完成了所有光阴盼望。解锁了时间扩张。<br>
在时间扩张中，我的永远指画大幅上升，从1e1300提升到了1e4000。<br>
最后，我通过十三行成绩进入了实际。<br>
<br>
第四章 实际<br>
进入实际后，我获得了实际车和字形以及复兴指画，字形提供了强大的增益。接着，我使用实际车购买了一些实际提升，使用复兴指画购买了复兴树树上的升级。它们使我可以更快的恢复之前的进度。随着进度的发展，我还得到了太空黑洞和自动机器。在购买了所有实际提升后，解锁了第一个天体：有一个。<br>
通过填充弥漫实际车，我解锁完成了有一个的实际以及复兴车间，还获得了一些其它的增益。接着，我完成了有一个的实际。在弥漫了1e24实际车后，解锁了第二个天体：强调。<br>
在解锁强调后，我每次实际的时候还会获取一些遗物碎片，我用其在强调的商店购买了一些提升。最后，我解锁了强调的无穷大，解锁了强调的永远。在完成强调的永远后，解锁了强调的实际和第三个天体：匿名。在完成强调的实际后，解锁了强调符文。<br>
匿名使我可以存储游戏光阴和实际光阴，它们还能购买匿名的升级。购买了第二个匿名的升级后，解锁了匿名的实际，我通过匿名的提示，很快便完成了它，解锁了多维数据集。在匿名的实际的实际中，我获得了一个成绩，它解锁了第四个天体：五<br>
在达到一些目标后，我解锁了五的实际，五的实际还有一些别的要求，我很快就完成了它们，获得了一些五-成绩和太空法则，太空法则帮助我完全购买了光阴学习树树。通过五-成绩，解锁了第五个天体：镭。<br>
镭的实际一开始就解锁了，在其中可以获取记忆块和记忆，其中还有很多成就。它们拓展了之前天体的能力。<br>
在达到1e1000实际车后，它们达到了上限，开始获取假想车。假想车用于购买假想提升。<br>
在购买了假想提升35后，解锁了连续体和第六个天体：来忑拉。在莱忑拉中，解锁了奇点，暗问题，暗活力和暗问题方面。通过奇点，我获得了奇点成就。在不续航性来忑拉的八次现实后，我获得了1.6e15假想车，解锁了最后一个天体：皮肤。<br>
<br>
第五章 预订实际<br>
解锁皮肤后，我预订了我的实际，这使我之前的实际层内容几乎全部被禁用了。但解锁了一种新重置：世界末日。此重置可获取残余，残余会生成实际碎片。实际碎片可以购买皮肤提升。在达到一定进度后，我还解锁了五个罢工条，最终，我重新得到了1e4000永远指画，解锁银河系生成器，获得了末日即将来临毁灭即将来临帮助我们永远再见个反问题，击败了皮肤。<br>

        </div>
    </div>
</body>

</html>