@import url("basic.css");
@import url("PL3toPLw.css");
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanssc/v36/k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FnYw.ttf) format('truetype')
}
* {
    font-family: MonospaceTypewriter, 'Noto Sans SC';
}
.text-center{
    text-align: center;
}
p{
    margin: 0px;
}
table{
    
    margin-inline-start: auto;
    margin-inline-end: auto;
}


